h1 {
  margin-top: 20px;
  margin-left: 10px;
}
h2 {
  text-align: center;
  color: grey;
}
h6 {
  text-align: center;
  color: grey;
}
span {
  margin-left: 10px;
}

.welcomeTitle {
  text-align: center;
  margin-top: 50px;
  color: black;
}

#userTitle {
  margin-left: 0px;
}

#createPostView, #postContainer{
  max-width: 800px;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#paginator {
  margin-left: 10px;
  margin-top: 10px;
}

.commentButton {
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0px;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}
.commentAuthor {
  color: white;
  background-color: lightgrey;
  font-style: italic;
  font-size: smaller;
  text-align: right;
}

.commentLinkContainer {
  background-color: white;
  height: 20px;
}
.showCommentLink {
  font-size: small;
  color: grey;
  float: right;
}
.commentBox {
  background-color: lightgrey;
  font-size: small;
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 3px;
}

.editLink, .cancelLink {
  font-size: small;
  margin-bottom: 20px;
}

#postAuthor {
  font-weight: bold;
  color: black;
}
#profileName {
  margin-left: 0px;
}
#followButton {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 30px;
  font-size: small;
  font-style: italic;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
#postTimestamp {
  color: grey;
  font-size: small;
  font-style: italic;
  margin-top: 10px;
}

#postLikes {
  font-size: small;
  font-style: italic;
  color: red;
}

#followingContainer, #followerContainer {
  margin-left: 10px;
}
