h1 {
  margin-top: 20px;
  margin-left: 10px;
}
h2 {
  text-align: center;
  color: lightgrey;
}
h6 {
  text-align: center;
  color: lightblue;
}
span {
  margin-left: 10px;
}

#welcomeTitle {
  text-align: center;
  margin-top: 50px;
  color: #7E96C4;
}

#createPostView, #postContainer{
  max-width: 800px;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
}

#postAuthor {
  font-weight: bold;
  color: black;
}
#followButton {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 30px;
  font-size: small;
  font-style: italic;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
#postTimestamp {
  color: grey;
  font-size: small;
  font-style: italic;
}

#followingContainer {
  margin-left: 10px;
}
