{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<!-- Create the user id to be accessible in the Javascript file -->
{{ request.user.username|json_script:"user_name" }}

<!-- Show new post div if user is logged in -->

  {% if user.is_authenticated %}
    <div id="createPostView">
      <form id="postForm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">New Post</label>
          <textarea class="form-control" id="postText" rows="5"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" id="submitPost">Submit</button>
        </div>
      </form>
    </div>

    <div id="userView">
      <h1><span>User: </span><span id="profileName"></span></h1>
      <div>
        <span>Email: </span><span id="userEmail" ></span>
      </div>
      <div>
        <span>Followers: </span><span id="numberOfFollowers"></span>
      </div>
      <div>
        <span>Following: </span><span id="numberOfFollowing"></span>
      </div>
      <button id="followButton" type="button" class="btn btn-primary"></button>
    </div>

    <div id="followingView">
      
    </div>

    <div id="postsView">
      <h1>Posts</h1>
    </div>
  {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
